/* Navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
.navbarWrapper{
    background-color: var(--primary);
    top: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,minmax(0,auto));
    z-index: 1;
    height:130px;
}
.navbarTitle{
    text-align: center;
    margin:0;
    background-color: aliceblue;    
}
.navbar > ul{
    display: flex;
    list-style: none;
    margin: 0;
    height:80px;
    text-align: center;
    padding-top: 30px;
    padding-left: 0px;
}
.navbar > ul > li{
    display: flex;
}
.navbar > ul > li > a{
    text-decoration: none;
    padding: 0px;
    margin: 30px;
    transition: all .1s ease;
    font-weight: bold;
    font-size: 20px;
    color:black;
    text-align: center;
}

.navbar > ul > li >a:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 700px) {
    .navbarWrapper {
        width: 100%;
    }

    .navbar > ul > li > a{
        margin: 10px;    
    }
}
@media only screen and (max-width: 515px) {
    .navbarWrapper {
        width: 100%;
    }

    .navbar > ul > li > a{
        margin: 5px;    
    }
}