:root {
  user-select: none;
  --small-box: calc(100vw * .1); 
}
.Grid{
  display:grid;
  grid-template-columns: 1fr;
  width: fit-content;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.game {
  display:flex;
  flex-flow: column;
  align-items: center;
}

.letterBox {
  width: 62px;
  height: 62px;
  border:solid;
  border-color: black;
  border-width: 1px;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
  font-size: 40px;
  /* background-color: #cc0000; */
}
.letterBox.red {
  background-color: red;
}
.letterBox.green {
  background-color: green;
}
.letterBox.yellow {
  background-color: yellow;
}
.letterBox.grey {
  background-color: grey;
}
@media only screen and (max-width: 600px) {
  .letterBox{
    width: var(--small-box);
    height: var(--small-box);
  }
}
